#myVideo {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
    width: 100%;
    height: auto;
}

img {
    max-width: 150px;
    max-height: 150px;
    z-index: 0;
}

.navigation {
    display: inline-block;
}

.navbar-buttons li {
    list-style-type: none;
}

#sign-in-btn button {
    border-radius: 1.5rem;
    color: black;
    background-color: red;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}

#sign-in-btn button:hover {
    background-color: darkred;
    color: white;
}
