#myVideo {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
    width: 100%;
    height: auto;
    }

img {
    max-width: 150px;
    max-height: 150px;
    z-index: 0;
}

.navigation {
    display: inline-block;
}

.ul li {
    width: 33%;
    float: center;
}

.container {
    z-index: 1;
}

.navbar-buttons li {
    list-style-type: none;
}
#sign-in-btn button{
    border-radius: 1.5rem;
    color: black;
    background-color:red;
    /* height: 40px; */
    vertical-align: middle;
    padding:5px 25px;
    font-weight: bold;
}